* {
  font-size: 16;
  font-family: "ProggyClean Nerd Font Mono";
  // font-family: "JetBrains Mono";
  // color: #807fb8;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

// Below is all styling for bar and bar widgets

.bar-workspace > * {
  font-family: "JetBrains Mono";
  // font-size: 1.1em;
  padding: 0 0em;
  margin: 0.5em 0;
}

.bar-active-ws {
  border-left: 0.25em solid;
}

window,
.bar {
  padding: 0.5em 0.25em;
}

// .bar {
//   background-size: 300% 300%;
//   background-image: linear-gradient(-0deg, black 0%, #0a1240 50%, black 100%);
//   animation: AnimateBG 20s infinite;
// }
//
// @keyframes AnimateBG {
//   0% {
//     background-position: 50% 0%;
//   }
//   50% {
//     background-position: 50% 100%;
//   }
//   100% {
//     background-position: 50% 0%;
//   }
// }

window {
  // border: 1px solid rgba(125, 125, 125, 0.75);
  border-radius: 8px;
}

.bar-week > :first-child {
  padding: 0.3em 0em;
}

.bar-icon {
  font-family: "JetBrains Mono";
  font-size: 13;
}

.bar-time > * {
  font-family: "JetBrains Mono";
  font-size: 20;
  letter-spacing: -0.2rem;
  margin: -0.3rem;
}

.bar-date > * {
  font-family: "JetBrains Mono";
  font-size: 13;
  letter-spacing: -0.2rem;
  margin: -0.3rem;
}

.bar-date > :first-child {
  font-size: 16;
  letter-spacing: -0.1rem;
}

// .bar-date > :first-child,
.bar-time > :first-child {
  font-weight: 900;
}
