dconf
Kvantum
alacritty
btop
cachyos
go/telemetry/local
gtk-3.0
gtk-4.0
htop
kate/externaltools
kde.org
kdeconnect
kdedefaults
lazygit
libaccounts-glib
micro
nvim/.github
nvim/doc
nvim/.gitignore
nvim/LICENSE.md
nvim/README.md
nvim-t
obsidian
pulse
qt5ct
session
systemd/user/default.target.wants
xsettingsd
yay/yay
.dmenurc
Trolltech.conf
arkrc
baloofilerc
bluedevilglobalrc
breezerc
cachyos-hello.json
dolphinrc
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate-externaltoolspluginrc
katerc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kglobalshortcutsrc
knfsshare
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwinoutputconfig.json
kwinrc
libinput-gestures.conf
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powermanagementprofilesrc
sddmthemeinstallerrc
systemmonitorrc
systemsettingsrc
user-dirs.dirs
user-dirs.locale
