layout {
    background-color "transparent"

    focus-ring {
        active-color   "#62dbb6"
        inactive-color "#7e949e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#62dbb6"
        inactive-color "#7e949e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#62dbb6"
        inactive-color "#7e949e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#62dbb680"
    }
}