startup_commands toggle_custom_color;fit_to_page_width_smart

status_bar_font_size    	14
ui_font 			SF Pro Text
dark_mode_background_color	0.3  0.3  0.3
dark_mode_contrast		0.9
text_highlight_color       	#a59fed

# === CATPPUCCIN MACCHIATO === #

text_highlight_color      	#a59fed
visual_mark_color          	#8087a2

search_highlight_color     	#a59fed
link_highlight_color       	#8aadf4
synctex_highlight_color    	#a6da95

highlight_middle_click		1
control_right_click_command	delete_highlight

highlight_color_c          	#91d7e3
highlight_color_d          	#ee99a0
highlight_color_e          	#c6a0f6
highlight_color_f          	#ed8796

highlight_color_r 		#ff3333
highlight_color_h 	  	#bcef00
highlight_color_a 	  	#d2ff00

highlight_color_b          	#5f5cff
highlight_color_g          	#00982B


custom_background_color    	#1b1c1d
custom_text_color          	##e8e8e8

ui_text_color              	#cad3f5
ui_background_color        	#1b1c1d
ui_selected_text_color    	#cad3f5
ui_selected_background_color 	#5b6078

status_bar_color           	#1b1c1d
status_bar_text_color      	#cad3f5
