/*******************************************************
 * ROFI configs i3 Apps menu for EndeavourOS
 * Maintainer: joekamprad [joekamprad //a_t// endeavouros.com]
 *******************************************************/
@import "~/.config/rofi/config.rasi"
/* Insert theme modifications after this */

configuration {
    show-icons:     true;
}
listview {
    columns:        2;
}
