/*******************************************************
 * ROFI configs i3 keyhint-menu for EndeavourOS
 * Maintainer: joekamprad [joekamprad //a_t// endeavouros.com]
 *******************************************************/
@import "~/.config/rofi/config.rasi"



window {
    // width: 80%;
    height: 97%;
}
listview {
    columns: 2;
}

listview {
    scrollbar:    true;
}

inputbar {
    children:   [ textbox-prompt-colon,entry,case-indicator ];
}

