* {
  font-size: 14px;
}

// Below is all styling for bar and bar widgets

.bar-workspace {
  font-family: "Noto Sans CJK JP";
  background-color: rgba(125, 125, 125, 0.25);
  padding: 4px 12px;
  margin: 0px 4px;
  border: 1px solid #505050;
  border-radius: 8px;
}

.bar-wifi-str {
  padding-right: 12px;
}

.bar-active-ws {
  color: #F5F5F5;
}

.bar-occupied-ws {
  color: rgba(125, 125, 125, 1);
}

.bar-ws {
  color: transparent;
}

window,
.bar {
  padding: 4px 4px;
  margin: 5px;
}

window {
  background-color: transparent;
  border: 1px solid #505050;
  border-radius: 8px;
}

bar {
  background-color: rgba(125, 125, 125, 0.25);
}

.bar-wn-wid,
.bar-side,
.bar-time,
.bar-date,
.bar-cpu,
.bar-memory {
  background-color: rgba(125, 125, 125, 0.5);
  padding: 0px 12px;
  margin: 0px 4px;
  border: 1px solid #505050;
  border-radius: 8px;
}

.bar-bat {
  padding-right: 3px;
  font-size: 16px;
}

.bar-vol {
  padding-right: 3px;
}

.bar-bt,
.bar-bt-btn {
  all: unset;
  padding-right: 3px;
}
