workspace {
  edge "right"
  position "bottom"
  layer "top"
  monitor "*"
  thickness 20
  length "10%"
  active-increase 0.5
  focused-only true
  hover-color "#ddddddaa"
  active-color "#fff"
  focus-color "#333"
  default-color "#ddd"
  border-radius 5
  preview-size 6
  border-width 1
  margins {
    bottom "45%"
  }
  preset "niri"
}

// =========== audio ===========

slider {
  monitor "*"
  layer "overlay"
  edge "right"
  position "bottom"
  preview-size 4
  extra-trigger-size "0%"
  margins {
    bottom 40
  }
  thickness 30
  border-width 1
  length 150
  radius 5
  obtuse-angle 90
  bg-color "#ddd"
  border-color "#ffffff20"
  fg-color "#333"
  bg-text-color "#333"
  fg-text-color "#ddd"
  redraw-only-on-internal-update true
  preset "speaker" {
    event-map {
      mouse-middle "~/.config/niri/scripts/sinks-rotation.sh"
  }
  }
}

slider {
  edge "right"
  monitor "*"
  position "bottom"
  layer "top"
  margins {
    bottom 190
  }
  preview-size 4
  extra-trigger-size "0%"
  thickness 30
  border-width 1
  length 100
  radius 5
  obtuse-angle 90
  bg-color "#ddd"
  border-color "#ffffff20"
  fg-color "#333"
  bg-text-color "#333"
  fg-text-color "#ddd"
  redraw-only-on-internal-update true
  preset "microphone"
}

// =========== time ===========

wrap-box {
  namespace "status"
  edge "bottom"
  position "right"
  pinnable
  pin-on-startup
      // "pin-with-key" true
      // "pin-key" 274
  monitor "*"
  layer "top"
  offset 0
  margins {
    top 0
    left 0
    bottom 0
    right 0
  }
  outlook "board" {
    border-radius 5
    color "#ddd"
    margins {
      top 3
      left 10
      right 81
      bottom -4
    }
  }
  item "text" {
    // index 0 0
    fg-color "#333"
    font-size 16
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "niri msg focused-window | grep -oP '(?<=Title: \").*(?=\")' | awk '{ if (length($0) > 33) print substr($0,1,22) \"…\" substr($0,length($0)-7); else print $0 }'"
    }
  }
  item "text" {
    index 0 1 
    fg-color "#333"
    font-size 16
    font-family "SpaceMono Nerd Font"
    preset "custom" {
      update-interval 5000
      cmd "sensors -j | jq '.\"coretemp-isa-0000\".\"Package id 0\".temp1_input' | xargs printf \"%.0f°\n\""
    }
  }
  item "text" {
    index 0 8
    type "text"
    fg-color "#333"
    font-size 16
    font-family "SpaceMono Nerd Font"
    preset "time" {
      update-interval 1000
      format "%d%m"
    }
  }
}

wrap-box {
  namespace "clock"
  edge "right"
  position "bottom"
  pinnable
  pin-on-startup
      // "pin-with-key" true
      // "pin-key" 274
  monitor "*"
  layer "top"
  offset 0
  margins {
    top 0
    left 0
    bottom 0
    right 0
  }
  outlook "board" {
    border-radius 5
    color "#ddd"
    margins {
      top 0
      left 0
      right 5
      bottom -1
    }
  }
  item "text" {
    index 0 0
    fg-color "#333"
    font-size 22
    font-family "SpaceMono Nerd Font"
    preset "time" {
      update-interval 1000
      format "%H%M"
    }
  }
}
wrap-box {
  namespace "power"
  edge "bottom"
  position "right"
  // pinnable
  // pin-on-startup
      // "pin-with-key" true
      // "pin-key" 274
  monitor "*"
  layer "overlay"
  offset 0
  gap 20
  margins {
    top 0
    left 0
    bottom 0
    right 5
  }
  outlook "board" {
    border-radius 5
    color "#ddd"
    margins {
      top 10 
      left 15
      right 5
      bottom 20
    }
  }

  item "tray" {
    index 0 1 // position in the grid layout. -1 means next available position.
    font-family "Geist"
    grid-align "bottom-center" // 9 positions center-left center-right top-left top-right bottom-left bottom-right left-top left-bottom right-top right-bottom
    icon-theme "breeze" // null will fetch the default icon theme
    icon-size 16
    tray-gap 2
    header-draw-config {
      text-color "#333"
      font-pixel-height 16
    }
    header-menu-align "right"
    header-menu-stack "menu-top"
    menu-draw-config {
      text-color "#333"
      marker-color "#444"
      font-pixel-height 16
      icon-size 16
      marker-size 16
      separator-height 5
      margin {
        left 12
        top 12
      }
    }
  }
item "text" {
    index 0 2
    fg-color "#333"
    font-size 16
    font-family "SpaceMono Nerd Font"
    preset "custom" {
      update-interval 5000
      cmd "echo ' ' $(upower -i /org/freedesktop/UPower/devices/battery_BAT0 | grep 'percentage' | awk '{print $2}')"
    }
  }
  item "text" {
    // index -1 -1 
    fg-color "#333"
    font-size 5
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "echo -n  ' '"
    }
  }
  item "text" {
    index 2 0
    fg-color "#333"
    font-size 20
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "~/.config/niri/scripts/output_toggle.sh --on-str '󰌢 Internal' --off-str '󰛧 Internal' --status internal"
    }
    event-map {
      mouse-left "~/.config/niri/scripts/output_toggle.sh internal"
    }
  }
  item "text" {
    index 3 0
    fg-color "#333"
    font-size 20
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "~/.config/niri/scripts/output_toggle.sh --on-str '󰍹 External' --off-str '󰶐 External' --status external"
    }
    event-map {
      mouse-left "~/.config/niri/scripts/output_toggle.sh external"
    }
  }

  item "text" {
    index 2 1
    fg-color "#333"
    font-size 20
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "~/.config/niri/scripts/toggle-theme-global.sh --light-str '󰖨 Theme' --dark-str '󰤄 Theme' --status"
    }
    event-map {
      mouse-left "~/.config/niri/scripts/toggle-theme-global.sh"
    }
  }
  item "text" {
    index 3 1
    fg-color "#333"
    font-size 20
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "echo $(~/.config/niri/scripts/sinks-rotation.sh --status)'  'Audio"
    }
    event-map {
      mouse-left "~/.config/niri/scripts/sinks-rotation.sh"
    }
  }
  item "text" {
    // index 4 0
    fg-color "#333"
    font-size 5
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "echo -n  ' '"
    }
  }
  item "text" {
    index 5 0
    fg-color "#333"
    font-size 20
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "echo -n  '󰒲 Suspend'"
    }
    event-map {
      mouse-left "systemctl suspend"
    }
  }
  item "text" {
    index 5 1
    fg-color "#333"
    font-size 20
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "echo -n  '󰍃  Logout'"
    }
    event-map {
      mouse-left "niri msg action quit -s"
    }
  }
  item "text" {
    index 6 0
    fg-color "#333"
    font-size 20
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "echo -n '  Restart'"
    }
    event-map {
      mouse-left "reboot"
    }
  }
  item "text" {
    index 6 1
    fg-color "#333"
    font-size 20
    font-family "Geist"
    preset "custom" {
      update-interval 1000
      cmd "echo -n ' Shutdown'"
    }
    event-map {
      mouse-left "shutdown 0"
    }
  }
}
